<h1>Colophon</h1>

<div class="media">
  <a class="pull-left" href="http://thenounproject.com/term/storage/27274/">
    <img class="media-object" src="images/logo.svg" alt="The angular-cached-resource logo; a shelf filled with boxes">
  </a>
  <div class="media-body">
    <p>The logo icon is called "<a href="http://thenounproject.com/term/storage/27274/">Storage</a>". It was designed by <a href="http://thenounproject.com/rafaleao/">Rafael Farias Le&atilde;o</a> on the <a href="http://thenounproject.com/">Noun Project</a>, and is protected by a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution (CC BY 3.0) license</a>.</p>
  </div>
</div>
