<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular Cached Resource</a>
    </div>
  </div>
</nav>

<div ui-view id="{{$state.current.name}}"></div>

<div class="footer">
  <p>
    <span class="glyphicon glyphicon-heart"></span> from <a href="http://bites.goodeggs.com">Good Eggs</a>
    &#8226;
    <a ui-sref="colophon">Colophon</a>
    &#8226;
    <a href="https://raw.githubusercontent.com/goodeggs/angular-cached-resource/master/LICENSE.md">MIT License</a>
  </p>
</div>
